@font-face{font-family:'Inter Tight';font-weight:400;src:url(it-400.ttf)}
@font-face{font-family:'Inter Tight';font-weight:500;src:url(it-500.ttf)}
@font-face{font-family:'Inter Tight';font-weight:700;src:url(it-700.ttf)}
@font-face{font-family:'Inter Tight';font-weight:800;src:url(it-800.ttf)}@font-face{font-family:'Fraunces';font-weight:600;src:url(fraunces-600.ttf)}

@font-face{font-family:'Anton';font-weight:400;src:url(anton.ttf)}

@font-face{font-family:'Inter Tight';font-weight:900;src:url(it-900.ttf)}
